
<div class="jumbotron jumbotron-fluid ">
  <div class="container">
    <h1 class="display-4">Welcome to Brew-ti-ful Reviews</h1>
    <p class="lead">A place for all your coffee reviewing needs!</p>
    <hr class="my-4">
    <p><%= link_to 'Sign Up', '/signup' %></p>
    <p><%= link_to 'Login', '/login' %></p>
  </div>
  <!-- <a class="btn btn-primary btn-lg" href="/login" role="button">Learn more</a> -->
</div>
