
<div class="jumbotron jumbotron-fluid ">
  <div class="container">
    <h1 class="display-4">Welcome to Brew-ti-ful Reviews</h1>
    <p class="lead">A place for all your coffee reviewing needs!</p>
    <hr class="my-4">
  <p><button type="button" class="btn btn-outline-success"><%= link_to 'Sign Up', '/signup'%></button></p>
    <p><button type="button" class="btn btn-outline-success"><%= link_to 'Login', '/login' %></button></p>
    <p><button type="button" class="btn btn-outline-success"><%= link_to "Sign In With Google", '/auth/google_oauth2' %></button></p>
  </div>
</div>
  <img src="https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80" class="img-fluid" alt="Responsive image" >
