
<div class="jumbotron jumbotron-fluid ">
  <div class="container">
    <h1 class="display-4">Welcome to Brew-ti-ful Reviews</h1>
    <p class="lead">A place for all your coffee reviewing needs!</p>
    <hr class="my-4">
  <p><button type="button" class="btn btn-outline-success"><%= link_to 'Sign Up', '/signup'%></button></p>
    <p><button type="button" class="btn btn-outline-success"><%= link_to 'Login', '/login' %></button></p>
  </div>
</div>
