<h1><%= @review.title %></h1>
<br>
<p>Rating: <%= @review.rating %></p>
<br>
<p>Your Review: <%= @review.description %></p>

<%= button_to "Delete", review_path(@review), method: :delete, data: { confirm: "Are you sure? You'll lose #{@review.title} forever!" } %> 
